![QuantConnect Logo](https://cdn.quantconnect.com/web/i/logo-small.png)
## Welcome to The QuantConnect Research Page
#### Refer to this page for documentation https://www.quantconnect.com/docs#Notebooks
#### Contribute to this template file https://github.com/QuantConnect/Lean/blob/master/Jupyter/BasicQuantBookTemplate.ipynb

## QuantBook Basics

### Start QuantBook
- Add the references and imports
- Create a QuantBook instance

In [1]:
%matplotlib inline
# Imports
from clr import AddReference
AddReference("System")
AddReference("QuantConnect.Common")
AddReference("QuantConnect.Jupyter")
from QuantConnect import *
from QuantConnect.Jupyter import *
from datetime import datetime
import matplotlib.pyplot as plt

# Create an instance
qb = QuantBook()

### Get information about symbol

In [2]:
spy = qb.GetSymbol("SPY")
eur = qb.GetSymbol("EURUSD", "forex")
euro = qb.GetSymbol("EURUSD", "forex", "oanda")
qb.PrintSymbols([spy, eur, euro])
# or qb.PrintSymbols(["SPY", eur, euro])

            Value Asset Type Market  Start Date
SPY 2T        SPY     Equity    usa  12/30/1899
EURUSD 5O  EURUSD      Forex   fxcm        None
EURUSD 8G  EURUSD      Forex  oanda        None

### Get Price History

- *History([symbol], start_date = datetime(1998,1,1), end_date = datetime.now(), resolution = Resolution.Daily, selector = null)*
- *History([symbol], span, resolution = Resolution.Daily, selector = null)*
- *History([symbol], periods, resolution = Resolution.Daily, selector = null)*

We will get a pandas.DataFrame with OHLCV information.

The lookback period can be controlled with a timedelta or a integer. It refers to *datetime.now()*:

In [3]:
history = qb.History([eur])
history.head(10)

               Open     High      Low    Close
2007-03-30  1.33145  1.34005  1.32880  1.33580
2007-04-01  1.33740  1.33770  1.33325  1.33500
2007-04-02  1.33495  1.33835  1.33465  1.33660
2007-04-03  1.33670  1.33750  1.33185  1.33530
2007-04-04  1.33525  1.33810  1.33375  1.33665
2007-04-05  1.33655  1.34420  1.33590  1.34195
2007-04-06  1.34200  1.34295  1.33645  1.33745
2007-04-08  1.33765  1.33800  1.33545  1.33745
2007-04-09  1.33755  1.34345  1.33405  1.34085
2007-04-10  1.34090  1.34555  1.34065  1.34280

In [4]:
from datetime import timedelta
qb.History(["SPY"], timedelta(hours = 300))   # 300 hours

              Open    High      Low   Close      Volume
2017-08-04  247.52  247.79  246.970  247.40  32304055.0
2017-08-07  247.49  247.87  247.370  247.85  17136662.0
2017-08-08  247.53  248.91  246.830  247.30  35873579.0
2017-08-09  246.47  247.31  246.060  247.23  40471979.0
2017-08-10  246.28  246.44  243.700  243.79  74862517.0
2017-08-11  244.02  244.80  243.750  244.11  47668256.0
2017-08-14  245.59  246.79  245.550  246.52  42665385.0
2017-08-15  246.98  247.00  246.155  246.53  30187918.0
2017-08-16  247.11  247.57  246.450  246.92  37544923.0

In [5]:
qb.History(["SPY"], 10)   # 10 days, since resolution is daily

              Open    High      Low   Close      Volume
2017-08-07  247.49  247.87  247.370  247.85  17136662.0
2017-08-08  247.53  248.91  246.830  247.30  35873579.0
2017-08-09  246.47  247.31  246.060  247.23  40471979.0
2017-08-10  246.28  246.44  243.700  243.79  74862517.0
2017-08-11  244.02  244.80  243.750  244.11  47668256.0
2017-08-14  245.59  246.79  245.550  246.52  42665385.0
2017-08-15  246.98  247.00  246.155  246.53  30187918.0
2017-08-16  247.11  247.57  246.450  246.92  37544923.0

- History from two or more symbol

We will get a pandas.DataFrame with OHLCV information. With more than one symbol, there is top level columns that identifies the symbol.

In [ ]:
gld = qb.GetSymbol("GLD")
glx = qb.GetSymbol("GLX")
gold = qb.History([gld, glx])
# or gold = qb.History(["GLD", "GLX"])
gold.tail(10)

- History from two or more symbol and specific field

We will get a pandas.DataFrame with OHLCV information.

In [ ]:
gold_close = qb.History(["GLD", "GLX"], None, None, Resolution.Daily, Field.Close)
gold_close.tail(10)

### Plot the output
Plot the values directly using pandas.DataFrame.plot()

In [ ]:
gold_close.plot()

### Get Fundamental Data

- *GetFundamental([symbol], selector, start_date = datetime(1998,1,1), end_date = datetime.now())*

We will get a pandas.DataFrame with fundamental data.

In [ ]:
data = qb.GetFundamental(["AAPL","AIG","BAC","GOOG","IBM"], "ValuationRatios.PERatio")